.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px 0px #5e5e5e;
    font-family: Tahoma, Verdana;
    margin: 0;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 20px;
}

.nav-logo {
    width: 60px;
    padding-left: 20px;
}

.main-content {
    font-family: Tahoma, Verdana;
    padding-left: 25px;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.5rem;
    width: 100%;
    font-family: Tahoma, Verdana;
    color: #FFF;
    background-color: #808080;
    font-size: large;
    padding-left: 2%;
}